<!DOCTYPE html>
<html>
	<head>
		<title>12 Questions</title>
		<link rel="stylesheet" href="static/css/styles.css" type="text/css" > 
	</head>

	<body>
		<h1>12 Questions</h1>
		<p>*Click on a cell to reveal who fits that characteristic :)</p>
		<ul>
			<button type="button" class="btn btn-primary" onclick="showDiv()">From BC?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" >Yes</div>
			<button type="button" class="btn btn-success" onclick="showDiv()">Not from BC?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" ></div>
			<button type="button" class="btn btn-info" onclick="showDiv()">Developed an app that's in the store?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" onclick="showDiv()" ></div>
			<button type="button" class="btn btn-warning" onclick="showDiv()">Had a co-op term in software?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" ></div>
			<button type="button" class="btn btn-danger" onclick="showDiv()">In Computer Science?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" ></div>
			<button type="button" class="btn btn-primary" onclick="showDiv()">In Computer Engineering?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" ></div>
			<button type="button" class="btn btn-success" onclick="showDiv()">Has a Linux computer?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" ></div>
			<button type="button" class="btn btn-info" onclick="showDiv()">A gamer?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" ></div>
			<button type="button" class="btn btn-warning" onclick="showDiv()">Lives on campus?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" ></div>
			<button type="button" class="btn btn-danger" onclick="showDiv()">Has a UBC sweatshirt?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" ></div>
			<button type="button" class="btn btn-primary" onclick="showDiv()">Founded UBC Launch Pad?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" ></div>
			<button type="button" class="btn btn-success" onclick="showDiv()">Has experience with UX?</button>
            <div id="questionAnswer" style="display:none;" class="answer-list" ></div>

		<div class="logo"></div>
	</body>
    
    <script>
        function showDiv() {
            document.getElementById('questionAnswer').style.display = "block";
		}
    </script>
</html>