<!DOCTYPE html>
<html>
	<head>
		<title>12 Questions</title>
	</head>

	<body>
		<h1>12 Questions</h1>
		<p>*Click on a cell to reveal who fits that characteristic :)</p>
		<ul>
			<li>From BC?</li>
			<li>Not from BC?</li>
			<li>Developed an app that's in the store?</li>
			<li>Had a co-op term in software?</li>
			<li>In Computer Science?</li>
			<li>In Computer Engineering?</li>
			<li>Owns a computer with Linux?</li>
			<li>A gamer?</li>
			<li>Lives on campus?</li>
			<li>Has a UBC Sweatshirt?</li>
			<li>Founded Launch Pad?</li>
			<li>Has experience with UX?</li>
		</ul>
	</body>

</html>